<h1>Password Generator</h1>


<div>
  <label>Enter password Length</label>
  <input (input)='onLengthChange($event)' [value]="pwlength" type="number" min="8" max="32">
</div>

<div>
<label>Use Letters</label>
<input (change)="onUseLettersChange()" type="checkbox"/>
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onUseNumbersChange()" type="checkbox"/>
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onUseSymbolsChange()" type="checkbox"/>
</div>

<div>
  <button [disabled]="!(pwlength && (useLetters || useNumbers || useSymbols))" (click)="onButtonClick()">Generate Password !</button>
</div>

<div>
  <label>Your Password</label>
  <input [value]="password"/>
</div>